// **** START COLORS *** //

//Text
$text-light-grey: #CCCCCC;
$text-light-mid-grey: #999999;
$text-mid-grey: #666666;
$text-dark-grey: #333333;
$text-black: #000000;
$text-white: #FFFFFF;

// Buttons
$light-blue: #508b92;
$dark-blue: #345a5e;
$hover-blue: #57979e;


// Backgrounds / Borders
$light-grey: #eeeeee;
$off-white: #F5F5F5;
$off-grey: #F7F7F7;
$dark-grey: #4c4c4c;
$transparent-black: rgba(0,0,0,0.2);
$ft-green: #a29958;
$border-grey: #dadada;
$error-red: darkred;
$light-red: #ff726c;

//Standard
$white: #FFF;
$black: #000;

// **** END COLORS *** //


// **** START FONTS *** //

// Futura
$futura-condensed-bold: 'FuturaStd-CondensedBold',Arial,"Helvetica Neue",Helvetica,sans-serif;
$futura-heavy: "FuturaStd-Heavy",Arial,"Helvetica Neue",Helvetica,sans-serif;
$futura-medium: "FuturaStd-Medium",Arial,"Helvetica Neue",Helvetica,sans-serif;
$futura-light: "FuturaStd-Light",Arial,"Helvetica Neue",Helvetica,sans-serif;
$futura-light-condensed: "FuturaStd-CondensedLight",Arial,"Helvetica Neue",Helvetica,sans-serif;
$futura-bold: "FuturaStd-Bold",Arial,"Helvetica Neue",Helvetica,sans-serif;

//Avenir
$avenir-regular: "AvenirNext-Regular",Arial,"Helvetica Neue",Helvetica,sans-serif;
$avenir-medium: "AvenirNext-Medium",Arial,"Helvetica Neue",Helvetica, sans-serif;
$avenir-ultra-light: "AvenirNext-UltraLight",Arial,"Helvetica Neue",Helvetica,sans-serif;
$avenir-bold: "AvenirNext-Bold",Arial,"Helvetica Neue",Helvetica,sans-serif;

//DIN
$din-bold: "DINPro-Bold",Arial,"Helvetica Neue",Helvetica,sans-serif;
// **** END FONTS *** //


